 .center {;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-around;
      flex-direction: column;
    }

    question-tag {
        padding: 2em;
        border-radius: 1em;
        background: #f90304;
        font-family: arial;
        text-align: center;
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        width: 30rem;
        height: 20rem;
        background-color: lightgray;
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:  black;
    }

    answer-tag {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 2em;
      border-radius: 1em;
      background: #f90304;
      font-family: arial;
      color: white;
      text-align: center;
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    }
    
    answer-tag.active {
        background: rgba(171, 145, 68, 1);
        font-size: 1.5em;
    }

    answers-tag {
      flex-direction: row;
      margin-top: -1em;
    }

    submit-tag {
      cursor: pointer;
      padding-top: 1em;
      padding-bottom: 1em;
      margin-top: 1em;
      border-radius: 1em;
      font-size: 2em;
      background: #a0f560;
      font-family: arial;
      color: white;
      text-align: center;
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    }

    h3 {
      padding: 2em 0;
      background: white;
      color: black;
    }

    p {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }
   